Package: json2txt-dbgsym
Package-Type: ddeb
Source: json2txt
Version: 0.3~1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Marsaleix <zoeurk@gmail.com>
Installed-Size: 23
Depends: json2txt (= 0.3~1-1)
Section: debug
Priority: optional
Description: debug symbols for json2txt
Build-Ids: ec9559a81fdd4f4ed335aa1a3dda5703e944c9b2
