Source: json2txt
Section: utils
Priority: optional
Maintainer: Thomas Marsaleix <zoeurk@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: http:/none

Package: libjson2txt-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libjson2txt (= ${binary:Version}), ${misc:Depends}
Description: Headers of json2txt

Package: libjson2txt
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library of json2txt

Package: json2txt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Convert json file

