Package: libjson2txt-dbgsym
Package-Type: ddeb
Source: json2txt
Version: 0.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Marsaleix <zoeurk@gmail.com>
Installed-Size: 31
Depends: libjson2txt (= 0.3-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libjson2txt
Build-Ids: 6bdfd5f2ff60c4297f17d3d06a04db01c9a8aaae
