Package: json2txt-dbgsym
Package-Type: ddeb
Source: json2txt
Version: 0.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Marsaleix <zoeurk@gmail.com>
Installed-Size: 22
Depends: json2txt (= 0.3-1)
Section: debug
Priority: optional
Description: debug symbols for json2txt
Build-Ids: fd546bbee53f82e436b6d02e35399b9c7b218800
