Package: json2txt-dbgsym
Package-Type: ddeb
Source: json2txt
Version: 0.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Marsaleix <zoeurk@gmail.com>
Installed-Size: 22
Depends: json2txt (= 0.3-1)
Section: debug
Priority: optional
Description: debug symbols for json2txt
Build-Ids: a8ca9d5504e871eee11bd797a3bd8d0820c41049
